h1 {
    text-decoration: antiquewhite;
    text-align: center;

}
body {
    background-color: rgb(240, 247, 255);
}
ul {
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-align: right;
    
    
}
nav ul li{
    display: inline-block;
    margin:50px;
    text-decoration: none;
   
}
nav ul li a {
     color: rgb(8, 13, 27);
     text-decoration: none;
     font-size:17px;

}
nav ul li a:hover {
    color:rgb(37, 167, 37);
}

div {
    background-color: rgba(255, 255, 255, 0.893); 
}
